{% extends 'base.html.twig' %}

{% block title %}Erreur serveur{% endblock %}

{% block body %}
    <h1>Erreur 500</h1>
    <p>Une erreur interne est survenue. Veuillez réessayer plus tard.</p>
{% endblock %}
